body {
    text-align: center;
    text-transform: uppercase; 
    margin: 0; 
}

header { 
    background-color: #F15B31; 
    color: white; 
    padding: 30px 20px 30px 20px;
}

nav { 
    background-color: #00A6B3; 
    color: white; 
    padding: 20px 0 20px 0;  
}

a { 
    border-bottom: 2px solid transparent; 
}

a:hover { 
    border-color: white; 
}

h1 {
    font-family: "Raleway", sans-serif;
    color:#0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0; 
}

a { 
    text-decoration: none; 
    font-family: "Raleway", sans-serif;
    color:#F15B31;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 20px 0 20px; 
    color: white; 
}

h2 { 
    font-family: "Raleway", sans-serif;
    color:#0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

main { 
    width: 850px;  
    margin: 35px auto; 
}

p {
    font-family: "Droid Serif", Arial,  serif;
    line-height: 26px; 
    font-size: 18px; 
}

img { 
    margin: 40px 8px 0 8px; 
}

img:hover { 
    cursor: pointer; 
}

footer { 
    text-transform: uppercase; 
    padding: 0 20px; 
    background-color: #0D2C40; 
    color: white; 
    font-size: 14px; 
    letter-spacing: 0.8em;
    font-weight: 500px; 
}

footer p { 
    font-family: 'Raleway', sans-serif; 
}

.copyright { 
    float: left; 
}

.message { 
    float: right; 
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.name { 
    color: #F15B31; 
    font-weight: 700; 
}

#btnReset { 
    margin-top: 15px; 
}

#scoreContainer { 
    width: 150px; 
    border: 2px solid gray; 
    height: 100px; 
    background-color:rgba(0,0,0,0.5); 
    display: block; 
    float: left; 
    position: fixed; 
    top: 360px;
    left: 10px; 
} 
#scoreLabel { 
    font-weight: bold; 
    color: white; 
    float: left; 
    margin-left: 10px; 
}
#score { 
    color: yellow; 
    float: right; 
    margin-right: 20px; 
}
.timer-container { 
    float: left; 
    margin-left: 350px;  
}
.countdown-start { 
    height: 50px; 
    width: 100px;
    font-size: 22px; 
}
#time { 
    padding: 14px; 
    font-size: 22px; 
    letter-spacing: 3px; 
    float: right; 
    margin-left: 20px;  
}
.hints { 
    margin-top: 140px; 
}
.red-btn { 
    border: 1px solid red; 
    border-radius: 4px; 
    background: rgba(255,0,0,0.2); 
    color: black; 
    font-weight: 900; 
}
.spacer { 
   
    color: white; 
}

@media (max-width: 400px) { 
    #game, h1, h2, main  { 
        width: 34%; 
    } 
    h1 { 
        text-align: center; 
        margin-left: 70px;
    }
    #instructions { 
        margin-left: -20px; 
    }
    #scoreContainer { 
        width: 120px; 
        height: 60px; 
        left: 0; 
        top: 100;
        border: 2px outset gray; 
    }
    .timer-container { 
        width: 120px;
        position: fixed; 
        left: -347px; 
        top: 430px; 
    }
    .red-btn { 
        width: 80px; 
        position: fixed;
        left: -15px;
        top: 500px; 
    }
    .instructionsP { 
        height: 200px; 
        overflow: scroll; 
    }
    .hints { 
        margin-top: 40px; 
    }
    .bottom-btn { 
        width: 190px;
    }
}
